{% extends 'base.html' %}

{% block content %}
	<h1 class="text-info">Blog Details</h1>
	<hr class="bg-light">
	<br>
	<div style="box-shadow: 2px 4px 4px 8px #000 solid; border-radius: 0" class="card border-info">
		<div class="card-body ">
			<ul class="list-group">
				<li class="list-group-item">
					<strong>Title</strong>
					<span class="float-right">{{ blog_object.title }}</span>
				</li>
				<li class="list-group-item">
					<strong>Desc</strong>
					<span class="float-right">{{ blog_object.description }}</span>
				</li>
				<li class="list-group-item">
					<strong>Author</strong>
					<span class="float-right">{{ blog_object.author }}</span>
				</li>
				<li class="list-group-item">
					<strong>Created At</strong>
					<span class="float-right">{{ blog_object.date }}</span>
				</li>
				<li class="list-group-item">
					<div class="btn-group">
						<a style="border-radius: 0" href="{{ blog_object.get_absolute_url }}edit" class="btn btn-info">Edit</a>
						<a style="border-radius: 0" href="/blog/list" class="btn btn-info">Back</a>
					</div>
				</li>
			</ul>
		</div>
	</div>
{% endblock %}