{% extends 'base.html' %}

{% block content %}
	<h1 class="text-info">Blogs</h1>
	<hr class="bg-light">
	<br>
	{% if blog_list %}
		<div class="row">
		{% for blog in blog_list %}
			<div class="col-sm-12 col-md-4 col-lg-3 mb-4">
				<div style="box-shadow: 2px 4px 4px 8px #000 solid; border-radius: 0" class="card border-info">
					<div class="card-body">
						<ul class="list-group bg-info">
							<li class="list-group-item">
								<strong>{{ blog.title }}</strong>
							</li>
							<li class="list-group-item">
								{{ blog.author }}
							</li>
							<li class="list-group-item">
								<a style="border-radius: 0" href="{{ blog.get_absolute_url }}" class="btn btn-info btn-sm">View</a>
							</li>
						</ul>
					</div>
				</div>
			</div>
		{% endfor %}
	</div>
	{% else %}
		<p class="lead">No blogs found..</p>
	{% endif %}
{% endblock %}